@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Desk Yeah, Freak Yeah!</h1>
    <p>No, we didn't steal that saying from Jimmy Johns</p>
    <img alt="ITS A FREAKING DESK. WOOOOOOOOOOOOOT" src="~/css/desk-clipart-transparent-background-501103-3900808.png" style="width:50%;height:50%;" />
    <div style="padding:50px;">
    <a class="btn btn-success" asp-page="DeskQuotes/Create">Create a Quote!</a> 
    <a class="btn btn-info" asp-page="DeskQuotes/Index">View All Quotes</a>
    </div>
</div>
